#top-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-container h1{
    position: absolute;
    color: white;
    font-family: monospace;
    background: rgba(0,0,0,.7);
    font-size: 3vw;
    text-transform: uppercase;
}

#top-container img{
    z-index: -1;
    width: 100%;
    filter: brightness(40%)
}

#belief-container{
    margin: 100px 0;
    display: flex;
    align-items: center;
    flex-flow:wrap-reverse;
    flex-direction: row;
    justify-content: center;
    gap:100px;
}

#belief-text{
    padding:15px;
    text-align: center;
    background: #415ba8;
    height:500px;
    width: 500px;
    color: white;
    font-size: 22px;
}

#belief-text a{
    color: beige
}

#belief-text a:visited{
    color: gray
}

#belief-text h1{
    font-size: 50px;
    margin:10px 0 0 0
}

#belief-text p{
    font-size: 28px;
    margin:10px 0 0 0
}

#belief-container img{
    width:500px;
    box-shadow: 20px -20px #9B9ECE;
}

.faith{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    flex-flow:wrap-reverse;
}
.faith img{
    width: 500px;
    box-shadow: -20px -20px #9B9ECE;
}
.faith-text{
    height: 500px;
    width: 500px;
    background: #415ba8;
    color: white;
    padding: 15px;
    text-align: center;
}
.faith-text h1{
    font-size: 50px;
    margin: 10px 0
}
.faith-text p{
    font-size: 27px;
    margin: 10px 0;
}


#about-grid{
    display: grid;
    grid-template-columns: auto repeat(auto-fill, 350px) auto;
    align-items: baseline;
    margin: 150px 0;
    grid-auto-flow: column;
    padding: 0;
}

#cong-box{
    grid-column: 2/3;
}

#worsh-box{
    grid-column: 3/4;
}

#con-box{
    grid-column: 4/5;
}

#about-grid div{
    border: 8px solid salmon;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    height: fit-content;
    width: 350px;
    background-color: lightblue;
    transition: transform .25s ease-out;
    text-align: center;
    color: white
}
#about-grid div img{
    width: 100%
}
#about-grid h1{
    font-weight: lighter;
    font-size: 38px;
    margin: 20px 0;
}
#about-grid p{
    font-size: 20px;
    margin: 5px
}
#about-grid div:hover{
    transform: scale(110%);
}

@media screen and (max-width:1200px){
    #about-grid div{
        height: 500px;
        width: 400px;
        margin:auto;
    }
    #about-grid{
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 500px);
        gap: 50px
    }
    #cong-box{
        grid-column: 1;
        grid-row: 1;
    }
    #worsh-box{
        grid-column: 1;
        grid-row: 2;
    }
    #con-box{
        grid-column: 1;
        grid-row: 3;
    }
    #about-grid h1{
        font-size: 20px;
    }
    #about-grid p{
        font-size: 16px;
    }
}

#leadership{
    text-align: center;
    margin: 50px auto;
    font-weight: bold;
    background: rgba(11, 166, 255, 0.425);
    width: fit-content;
    font-size: 50px;
    color: white;
}

.pastor-container{
    display: flex;
    margin: 25px auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: rgb(146, 166, 255);
    padding: 25px;
    color:white;
    width: fit-content
}
.pastor-container img{
    width: 200px
}
.pastor-text{
    width: 500px;
}
.pastor-text h1{
    font-size: 30px;
    margin: 5px 0;
}
.pastor-text h2{
    font-size: 20px;
    margin: 5px 0;
}
.pastor-text p{
    margin: 5px 0;
}

@media screen and (max-width:1250px){
    .pastor-container{
        width: 400px
    }
    .pastor-container img{
        width: 100px;
        height: 100px;
    }
    .pastor-container p {
        font-size: 10px;
    }
}

@media screen and (max-width:600px){
    #leadership{
        width: 100%;
        font-size: 3vw;
    }
    #about-grid{
        grid-template-rows: repeat(3, auto);
    }
    #about-grid div{
        border-radius: 10px;
        height: fit-content;
        width: 90%;
    }
    #about-grid h1{
        font-size: 5vw;
    }
    #about-grid p{
        font-size: 3vw
    }
    #belief-container{
        gap: 10px
    }
    .pastor-container{
        gap: 10px;
        box-sizing: border-box;
        width: 100%;
    }
    .pastor-text{
        width: 60%;
        height:fit-content
    }
    .pastor-container img{
        width: 30%;
        height: fit-content
    }
    .pastor-container h1{
        font-size: 5vw;
    }
    .pastor-container h2{
        font-size: 4vw;
    }
    .pastor-container p{
        font-size: 3vw;
    }
    #belief-text{
        width:90%;
        height:fit-content
    }
    #belief-text h1{
        font-size: 5vw;
    }
    #belief-text p{
        font-size: 3vw;
    }
    #belief-container img{
        width: 90%
    }
    .faith-text{
        width:90%;
        height: fit-content;
    }
    .faith-text h1{
        font-size: 5vw;
    }
    .faith-text p{
        font-size: 3vw;
    }
    .faith img{
        width: 90%
    }
    #top-container img{
        width: 100%
    }
}
