#top-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-container h1{
    position: absolute;
    color: white;
    font-family: monospace;
    font-size: 3vw;
    text-transform: uppercase;
}

#top-container img{
    z-index: -1;
    width: 100%;
    filter: brightness(40%)
}

#belief-container{
    margin: 50px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#belief-text{
    padding:15px;
    text-align: center;
    background: navy;
    height:400px;
    width: 400px;
    color: white;
    font-size: 22px;
    box-shadow: -20px -20px teal;
}

#belief-text a{
    color: beige
}

#belief-text a:visited{
    color: gray
}

#belief-text h1{
    margin:10px 0 0 0
}

#belief-text p{
    margin:10px 0 0 0
}

#belief-container img{
    max-width:20%;
}

@media screen and (max-width:600px){
    #belief-container{
        gap: 10px
    }
    #belief-text{
        height:200px;
        width:200px;
        font-size: 10px;
    }
}


#about-grid{
    display: grid;
    grid-template-columns: auto repeat(3, 300px) auto;
    gap: 50px;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

#cong-box{
    grid-column: 2/3;
}

#worsh-box{
    grid-column: 3/4;
}

#con-box{
    grid-column: 4/5;
}

#about-grid div{
    padding: 0;
    margin: 0;
    height: 500px;
    width: 300px;
    background-color: lightblue;
    transition: transform .25s ease-out;
    text-align: center;
    color: white
}
#about-grid div img{
    width: 100%
}
#about-grid h1{
    font-weight: lighter;
    font-size: 28px;
    padding: 0 5px;
}
#about-grid p{
    font-size: 14px;
    padding: 0 5px;
}
#about-grid div:hover{
    transform: scale(110%);
}

@media screen and (max-width:1060px){
    #about-grid div{
        height: 300px;
        width: 300px;
        margin:auto;
    }
    #about-grid{
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 300px);
    }
    #cong-box{
        grid-column: 1;
        grid-row: 1/2;
    }
    #worsh-box{
        grid-column: 1;
        grid-row: 2/3;
    }
    #con-box{
        grid-column: 1;
        grid-row: 3/4;
    }
    #about-grid h1{
        font-size: 16px;
    }
    #about-grid p{
        font-size: 10px;
    }
}

#leadership{
    text-align: center;
    margin: 100px auto 50px auto;
    font-weight: bold;
    background: rgba(11, 166, 255, 0.425);
    padding: 0;
    border: none;
    width: 300px;
    font-size: 50px;
}

.pastor-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pastor-container img{
    max-width: 10%;
}

.other{
    transform: scale(200%);
}