

#welcome-flex{
    padding: 25px 0 25px 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px 15px;
    justify-content: center;
    align-items: center;
}

#welcome{
    position:relative;
    height: 400px;
    width:250px;
    border-radius: 5px 5px 5px 75px;
    background: #2b6ca3;
    overflow-wrap: break-word;
    color: white
}
#welcome-title{
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 15px 10px 10px;
}
#welcome-text{
    margin: 0;
    font-size: 20px;
    padding:10px 15px;
    line-height: 27px;
}
#welcome-img{
    max-width:100%
}


