

#welcome-container{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#welcome-container img{
    width: 100%;
    filter: brightness(50%)
}
#welcome-container h1{
    color: white;
    position: absolute;
    width: 19ch;
    animation: typing 4s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 4vw;
    font-family: monospace;
}

#welcome-container p{
    color: white;
    font-family: monospace;
    position: absolute;
    padding-top: 140px;
    font-size: 1.5vw;
}

@keyframes typing{
    from{width:0}
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

#intro-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    color: white;
    margin: 150px 0
}
#intro-flex img{
    width: 40%
}
#intro-text{
    background: navy;
    padding:15px;
    height: 500px;
    width: 400px;
    overflow-wrap: break-word;
    font-size: 32px;
    white-space: pre-wrap;
}

#sermon-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    color: white;
}

#video-label{
    width: 400px;
    height: 250px;
    background:rgb(55, 80, 161);
    padding: 15px;
    font-size: 32px;
}

#video-label a{
    color: rgb(108, 196, 255);
}
#video-label a:visited{
    color: rgb(181, 201, 214);
}
#sermon-flex iframe{
    max-width: 50%;
}

@media screen and (max-width: 600px){
    #intro-text{
        font-size: 12px;
        height: 200px;
        width: 360px;
    }
    #video-label{
        font-size: 12px;
        height: 150px;

    }
}
@media screen and (max-width: 1440px){
    svg{
        display: none;
    }
}
@media screen and (max-width: 1000px){
    #intro-text{
        font-size: 16px;
        width:200px;
        height:fit-content
    }
    #video-label{
        font-size: 22px;
        height: fit-content;
        width: 200px
    }
    
}
@media screen and (max-width: 760px){
    #welcome-container p{
        padding-top: 80px;
        font-size: 2vw;
    }
}