

#welcome-container{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#welcome-container img{
    width: 100%;
    filter: brightness(50%)
}
#welcome-container h1{
    color: white;
    position: absolute;
    width: 19ch;
    animation: typing 4s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 4vw;
    font-family: monospace;
}

#welcome-container p{
    color: white;
    font-family: monospace;
    position: absolute;
    padding-top: 140px;
    font-size: 1.5vw;
}

@keyframes typing{
    from{width:0}
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

#intro-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    color: white;
    margin: 200px 0
}
.intro-img{
    box-shadow: -30px -30px #0096c7;
}
.flex-img{
    width: 500px;
}
#intro-text{
    padding:25px;
    height: 300px;
    width: 500px;
    overflow-wrap: break-word;
    font-size: 28px;
    white-space: pre-wrap;
    background: linear-gradient(180deg, #48cae4 0%, #0096c7 100%)
}
.second-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
    color: white;
    gap: 1vw;
}
.second-img{
    box-shadow: 30px -30px #0077b6;
}
.second-text{
    padding:25px;
    height:300px;
    width:500px;
    overflow-wrap: break-word;
    font-size: 28px;
    background: linear-gradient(180deg, #0096c7 0%, #0077b6 100%)
}

#sermon-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    color: white;
    margin: 200px 0;
}

#video-label{
    width: 400px;
    height: 250px;
    background: linear-gradient(180deg, #0077b6 0%, #023e8a 100%);
    padding: 25px;
    font-size: 32px;
}

#video-label a{
    color: rgb(108, 196, 255);
}
#video-label a:visited{
    color: rgb(181, 201, 214);
}
#sermon-flex iframe{
    box-shadow: -30px -30px #023e8a;
}

@media screen and (max-width: 600px){
    #welcome-container p{
        padding-top: 80px;
    }
    #intro-flex{
        flex-wrap: wrap;
        gap: 50px;
    }
    .second-flex{
        flex-wrap: wrap;
        gap: 50px;
    }
    #intro-text{
        font-size: 12px;
        height: 200px;
        width: 360px;
    }
    .second-text{
        font-size: 12px;
        height: 200px;
        width: 360px;
    }
    #video-label{
        font-size: 12px;
        height: 150px;
        width: 300px;
    }
    #sermon-flex{
        flex-wrap: wrap;
        gap: 50px;
    }
}
@media screen and (max-width: 1000px){
    #intro-text{
        font-size: 16px;
        width:300px;
        height:fit-content
    }
    .second-text{
        font-size: 16px;
        width:300px;
        height:fit-content
    }
    .flex-img{
        width:300px
    }
    #video-label{
        font-size: 20px;
        height: 250px;
        width: 200px
    }
    #sermon-flex iframe{
        width: 400px;
        height: 224px;
    }
    
}
