body{
    background: rgb(54, 54, 54)
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
    font-family: monospace;
    text-align: center;
    margin: 0 0 200px 0;
    overflow: hidden;
}
.banner-container img{
    width:100%;
    z-index: -1;
    filter: brightness(60%);
}
.banner-container h1{
    position: absolute;
    font-size: 64px;
    background: rgba(0,0,0,.7);
    margin: 25px 0
}

.banner-container p{
    position: absolute;
    padding-top: 240px;
    font-size: 32px;
    margin: 10px 8vw;
}

.ministry-container{
    margin: 200px 50px;
    display: grid;
    grid-template-columns: 500px 1fr 400px 1fr 500px;
    grid-template-rows: 400px 300px 400px 300px 400px 300px 400px 300px 400px 300px 400px 300px 400px 300px 400px;
}
.line{
    background: blanchedalmond;
    grid-row: 2;
    grid-column: 3;
    width: 2px;
    height:100%;
    margin: 0 auto;
}
.hline{
    background:rgb(163, 163, 163);
    grid-row: 1;
    grid-column: 2;
    height: 2px;
    margin: auto 0;
}
.size{
    width: 500px;
}
.isize{
    width: 400px
}
#wc-pic{
    grid-row: 1;
    grid-column: 3;
    overflow: hidden;
}
#w-pic{
    grid-row: 3;
    grid-column: 3;
    overflow: hidden;
}
#fp-pic{
    grid-row: 5;
    grid-column: 3;
    overflow: hidden;
}
#d-pic{
    grid-row: 7;
    grid-column: 3;
    overflow: hidden;
}
#c-pic{
    grid-row: 9;
    grid-column: 3;
    overflow: hidden;
}
#y-pic{
    grid-row: 11;
    grid-column: 3;
    overflow: hidden;
}
#lp-pic{
    grid-row: 13;
    grid-column: 3;
    overflow: hidden;
}
#p-pic{
    grid-row: 15;
    grid-column: 3;
    overflow: hidden;
}
.text-box h1{
    font-size: 32px;
}
.text-box p{
    font-size: 20px;
}
.text-box{
    background: #7393B3;
    height: 300px;
    margin: auto 0;
    color: white;
    text-align: center;
}
span{
    font-style: italic;
}
#wc-text{
    grid-row: 1;
    grid-column: 1;
}
#w-text{
    grid-column: 5;
    grid-row: 3;
}
#fp-text{
    grid-column: 1;
    grid-row: 5;
}
#d-text{
    grid-column: 5;
    grid-row: 7;
}
#c-text{
    grid-column: 1;
    grid-row: 9;
}
#y-text{
    grid-column: 5;
    grid-row: 11;
}
#lp-text{
    grid-column: 1;
    grid-row: 13;
}
#p-text{
    grid-column: 5;
    grid-row: 15;
}
.long-line-when-mobile{
    display:none;
    left: 50%;
    right:50%;
    top: 500px;
    position: absolute;
    width: 2px;
    z-index: -1;
    background: beige;
    height:4800px;
}
@media screen and (max-width:1320px){
    .size{
        width: 300px
    }
    .isize{
    width: 200px
    }
    .text-box{
        height: 200px;
    }
    .ministry-container{
        grid-template-columns: 300px auto 200px auto 300px;
        grid-template-rows: 200px 150px 200px 150px 200px 150px 200px 150px 200px 150px 200px 150px 200px;
    }
    .text-box h1{
        font-size: 18px;
    }
    .text-box h2{
        font-size: 14px;
    }
    .text-box p{
        font-size: 12px;
    }
}
@media screen and (max-width:1040px){
    .banner-container h1{
        font-size: 3vw;
    }
    .banner-container p{
        font-size: 2vw;
        padding-top: 20%;
    }
    .ministry-container{
        margin: 25px;
    }
    .size{
        width: fit-content;
    }
    .isize{
    width: 200px
    }
    .text-box{
        height: 180px;
    }
    .ministry-container{
        grid-template-columns: 30% auto 200px auto 30%;
        grid-template-rows: repeat(13, 200px)
    }
    .ministry-container img{
        width: 200px
    }
    .text-box h1{
        font-size: 14px;
    }
    .text-box h2{
        font-size: 12px;
    }
    .text-box p{
        font-size:10px;
    }
}
@media screen and (max-width:600px){
    .long-line-when-mobile{
        display: block
    }
    .line{
        display: none
    }
    .hline{
        display: none
    }
    .ministry-container{
        grid-template-columns: 100%;
        grid-template-rows: repeat(23, 200px);
        justify-items: center;
        gap: 10px;
        margin: 100px 5%;
    }
    #wc-pic{
        grid-row: 1;
        grid-column: 1;
        overflow: hidden;
    }
    #w-pic{
        grid-row: 4;
        grid-column: 1;
        overflow: hidden;
    }
    #fp-pic{
        grid-row: 7;
        grid-column: 1;
        overflow: hidden;
    }
    #d-pic{
        grid-row: 10;
        grid-column: 1;
        overflow: hidden;
    }
    #c-pic{
        grid-row: 13;
        grid-column: 1;
        overflow: hidden;
    }
    #y-pic{
        grid-row: 16;
        grid-column: 1;
        overflow: hidden;
    }
    #lp-pic{
        grid-row: 19;
        grid-column: 1;
        overflow: hidden;
    }
    #p-pic{
        grid-row: 22;
        grid-column: 1;
        overflow: hidden;
    }
    #wc-text{
        grid-row: 2;
        grid-column: 1;
    }
    #w-text{
        grid-column: 1;
        grid-row: 5;
    }
    #fp-text{
        grid-column: 1;
        grid-row: 8;
    }
    #d-text{
        grid-column: 1;
        grid-row: 11;
    }
    #c-text{
        grid-column: 1;
        grid-row: 14;
    }
    #y-text{
        grid-column: 1;
        grid-row: 17;
    }
    #lp-text{
        grid-column: 1;
        grid-row: 20;
    }
    #p-text{
        grid-column: 1;
        grid-row: 23;
    }
    .size{
        width:100%;
        height: fit-content
    }
    .isize{
        width:200px
    }
    .text-box h1{
        font-size: 5vw;
    }
    .text-box h2{
        font-size: 4vw;
    }
    .text-box p{
        font-size:3vw;
    }
}